@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: Playfair Display;
	src: url("../font/PlayfairDisplay-Regular.ttf");
}
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
* {box-sizing: border-box;}
body {margin: 0; font-family: Playfair Display, serif;}
.wrap {margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2.275%;
	padding-right: 2.275%;
}
a {font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";}

.header {width: 100%;
    background-color: rgba(15, 23, 43, .9);
    border-bottom: 1px solid #353635;
	color: #ffffff;
	padding: 20px;
}
header {display: flow-root;
	padding-bottom: 20px;
	width: 100%;
	height: 8%;
	background-color: rgba(5, 19, 158, 0.8);
	border-bottom: 1px solid #353635;
}
.profilePhoto img, .profilePhoto_mob img {max-width: 100%; width: 100%; border-radius: 50%;}
.head_pom {color: #ccc; text-align: right; padding-top: 10px;}
.profilePhoto, .profilePhoto_mob {float: left;}
.profileHeader {width: 65%; float: right;}
.head_cont {float: left; border-right: 1px #aaa inset; width: 50%;}
.head_cont a {text-decoration: none; color: #fff;}
	/*Выпадающий*/
.section2 .celi {margin-bottom: 40px;}
.container{width: 70%; margin: 0 auto; }
 .panel-heading {
        display: block;
        padding: 10px;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
	 border-left: 2px #999 solid;
	 border-bottom: 1px #999 solid
 }
.panel-heading {position: relative; text-decoration: none; color: #282c34;}
.panel-heading:after {
  position: absolute;
  content: '';
  bottom: 0;
  display: block;
  width: 0;
  height: 100%;
  background: rgba(51,32,215,0.11);
 border-bottom: 1px solid rgba(5, 19, 158, 1.00);
  transition: .3s;
}
.panel-heading:hover {color: #020C91;}
.panel-heading:after {left: 0;}
.panel-heading:hover:after {width: 100%;}
 .panel-heading .side-open, .panel-heading .side-close {
     font-weight: 900;
     font-size: 20px;
	 text-align: right;
	 margin-top: -15px;
 }
 .panel-heading i {text-align: right; padding-bottom: 5px;}
 .panel-body {
    margin-bottom: 10px;
	 padding: 10px;
	-webkit-box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 2px rgba(34, 60, 80, 0.2);
 }
 .panel-body ul {padding-left: 0;}
 .panel-body li {list-style: none; margin-bottom: 10px;}
 .data_r {padding-top: 1em; display: block;}
 .side-close {display: none;}
.side-close:hover, .side-open:hover {color: #5533DC;}
	/*Кирпичи*/
.masonry {
    margin: 1.5em 0;
    padding: 0;
    column-gap: 1.5em; /* Общее расстояние между колонками */
    font-size: .85em;
    -moz-column-gap: 1.5em; /* Расстояние между колонками для Firefox */
    -webkit-column-gap: 1.5em; /* Расстояние между колонками  для Safari, Chrome и iOS */
}

/* Элементы в виде плиток с содержанием */
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */ 
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */ 
    box-shadow: 2px 2px 4px 0 #ccc; /* Внешняя тень плиток */
}
/* Медиа-запросы для различных размеров адаптивного макета */
@media only screen and (min-width: 600px) {
    .masonry {-moz-column-count: 1; -webkit-column-count: 1; column-count: 1;}
}
@media only screen and (min-width: 900px) {
    .masonry {-moz-column-count: 2; -webkit-column-count: 2; column-count: 2; float: left;}
}
@media only screen and (min-width: 1100px) {
    .masonry {-moz-column-count: 3; -webkit-column-count: 3; column-count: 3;}
}
.externalResources img {height: 100px;}
.footer_contact {padding: 20px 0 40px 0; display: flex; justify-content: space-around;}
.footer_contact a {color: #666; font-weight: 700;}
.footer_hr {height: 5px; border-style: inset;}
.profilePhoto_mob {display: none;}
.sectionContentTitle, .externalResourcesNav {text-align: center;}

