@charset "utf-8";
header {text-align: center;	display: block;}
header .profileLogo .logoPlaceholder {
	background-color: rgba(208,207,207,1.00);
	width: 187px;
	text-align: center;
}
header .logoPlaceholder span {
	width: 80px;
	height: 22px;
	color: rgba(255,255,255,1.00);
	font-size: 30px;
	font-weight: 700;
	line-height: 53px;
}
header .profilePhoto {width: 30%; height: auto; clear: both; margin-top: 30px;}
header .profileHeader h1 {
	color: #ccc;
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
}
header .profileHeader h3 {
	color: #ccc;
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
hr {background-color: rgba(208,207,207,1.00); height: 1px;}
header .profileHeader p {
	font-weight: 400;
	overflow-y: auto;
	color: #ccc;
	padding: 3px 0;
	margin: 0;
}
header .socialNetworkNavBar {
	text-align: center;
	display: block;
	margin-top: 60px;
	clear: both;
}
header .socialNetworkNavBar .socialNetworkNav {border-radius: 50%; cursor: pointer;}
header .socialNetworkNavBar .socialNetworkNav img:hover {opacity: 0.5;}
/* Main Content sections */
.mainContent .section1 {display: block; margin-bottom: 50px;}
.section1 .sectionTitle, .section2 .sectionTitle {font-size: 14px; 
	font-weight: 700; 
	color: #666;
	margin-bottom: 0;
}
.section1 .sectionTitleRule, .section2 .sectionTitleRule {float: left; clear: both;}
.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {
	background-color: rgba(208,207,207,1.00);
	height: 1px;
	padding: 0px;
}
.mainContent .section1 .section1Content {font-size: 14px; font-weight: 100;}
.sectionContentTitle, .section2 .sectionContentTitle {font-size: 18px; font-weight: 700;}
.section2 .sectionContentSubTitle {
	color: rgba(68,67,67,1.00);
	font-size: 14px;
	font-weight: 400;
}
.section2 .sectionContent {font-size: 14px; font-weight: 600; line-height: 1.8;}
.mainContent {display: block;}
.mainContent .externalResourcesNav .externalResources {
	display: inline-block;
	text-align: center;
	margin-top: 0px;
	padding-top: 3%;
	cursor: pointer;
}
.externalResourcesNav .externalResources a {
	color: rgba(255,255,255,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}
.stretch {
	content: '';
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}
/* Footer */
footer .footerDisclaimer {
	font-size: 14px;
	line-height: 18px;
	color: rgba(104,103,103,1.00);
	font-weight: 700;
}
footer .footerDisclaimer span {color: rgba(181,178,178,1.00); font-weight: 400;}
footer .footerNote {
	font-size: 14px;
	line-height: 18px;
	color: rgba(104,103,103,1.00);
	font-weight: 700;
}
footer .footerNote span {color: rgba(181,178,178,1.00); font-weight: 400;}

/* Media query for Mobile devices*/


/* Media Query for Tablets */
@media only screen and (min-width : 901px) and (max-width : 1024px) {
/* Header */
	header {width: 100%; float: none;}
	header .profileLogo .logoPlaceholder {display: inline-block;}
	header .profilePhoto {float: left; clear: both; margin-right: 3%; margin-top: 5%;}
	header .profileHeader {text-align: left;}
	header .socialNetworkNavBar .socialNetworkNav {
		width: 74px;
		height: 74px;
		display: inline-block;
		margin-right: 23px;
	}
	/* Main content and sections */
	.section1 .section1Title, .section2 .section1Title {text-align: center;}
	.section1 .sectionTitleRule, .section2 .sectionTitleRule {width: 100%;}
	.section1 .sectionTitleRule2, .section2 .sectionTitleRule2 {display: none;}
	.mainContent .section1 .section1Content {
		display: block;
		margin: 0% 0% 0% 20%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.mainContent .section2 {clear: both;}
	.section2 .section2Content {
		padding: 0px;
		margin-left: 20%;
		margin-top: 5%;
		margin-bottom: 5%;
	}
	.mainContent .externalResourcesNav {
		margin-left: 20%;
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;
		padding-top: 0px;
		clear: both;
	}
	.mainContent .externalResourcesNav .externalResources {width: 199px; height: 48px; margin-top: 5%;}
	/* Footer */
	footer .footerDisclaimer {float: left; margin-left: 3%;}
	footer .footerNote {float: right; margin-right: 3%;}
}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {
		/* Header */
	header .profileLogo .logoPlaceholder {float: left; margin-bottom: 50px;}
	header .profilePhoto {float: left; clear: both; margin-right: 3%;}
	header .profileHeader {text-align: left;}
	header .socialNetworkNavBar .socialNetworkNav {
		width: 74px;
		height: 74px;
		display: inline-block;
		margin-right: 23px;
	}
	.logo {
		color: #fff;
		font-weight: bold;
		margin-left: auto;
		letter-spacing: 4px;
		margin-right: auto;
		text-align: center;
		padding-top: 15px;
		line-height: 2em;
		font-size: 22px;
	}
			/* Main content sections */
	.section1 .sectionTitleRule, .section2 .sectionTitleRule {width: 100%;}
	.mainContent .section1 .section1Content {
		display: block;
		margin-top: 0%;
		margin-right: 0%;
		margin-bottom: 0%;
	}
	.mainContent .section2 {clear: both; }
	.section2 .section2Content {padding: 0px;}
	.mainContent .externalResourcesNav {
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;
		padding-top: 0px;
		clear: both;
	}
	.mainContent .externalResourcesNav .externalResources {width: 199px; height: 48px;}
			/* Footer */
	footer .footerDisclaimer {float: left; margin-left: 3%;}
	footer .footerNote {float: right; margin-right: 3%;}
}

